@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);

section {
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  margin:0;
  padding:0;
}

#title {
  text-align:center;
  font-size:40px;
  margin-top:40px;
  margin-bottom:-40px;
  position:relative;
  color:#0092c3;
}

.circles p {
  font-size: 240px;
  color: #0092c3;
  line-height: 100%;
  top: 10%;
  left: 40%;
  position: absolute;
}

.circles p small {
  font-size: 40px;
  line-height: 100%;
  vertical-align: top;
}




