.baseImage {
  height: 400px;
  width: 400px;
  display:inline-block;
  position:relative;
}

.heatImage {
  height: 250px;
  width: 250px;
  display:inline-block;
  position:relative;
}

.circleBase {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  font-family: Roboto, sans-serif;
  font-size: 70px;
  text-shadow: rgba(0, 0, 0, 0.2) 5px 0 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
  left: 30%;
  position: relative;
}

.values td {
  width: 20%;
  padding: 10px !important;
}

.values tr {
  height: 56px;
}

.values {
  border-collapse: collapse;
}

.values, .values td, .values tr {
  border: 1px solid #00000017;
}

table {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  width: 100%;
}

.header {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.05);
}

.cell {
  padding: 20px;
}

.content {
  width: 100%;
  margin-bottom: 10px;
  border: dashed 2px #00000030;
  background: #f0f0f030;
  min-width: 750px
}

